<div class="control-group">
	<label class="control-label">setting1</label>
	<div class="controls">
		<input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.SettingsCacheTest.setting1"></input>
	</div>
</div>